.login-page {
  background-image: url("../../assets/img/login-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-form {
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.9);
}
